body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFF0;
    color: #333;
    display: block;
  }
  
 h1 { 
    text-align: center;
    font-size: 2em;
 }

 label  {
   font-size: 1.2em;
   
 }
 input {
    padding: 0.3%;
    width: 15%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 1%;
 }

 .form-container {
    display: block;
    text-align: center;
    align-items: center;
 }
 h3, h2 {
    margin: 20px;
 }
