<h1>Books Application</h1>
  <div class="form-container">
    <h2>Add a book</h2>
    <label for="title" id="label-text">Title</label> <br>
    <input id="newBook" placeholder="Title"><br>
  
    <label for="description" id="label-text">Description</label> <br>
    <input id="newDesc" placeholder="Description"><br>
  
    <label for="price" id="label-text">Price</label><br>
    <input id="newPrice" placeholder="Book price"><br>
  
    <button (click)="addBook()">Add book</button> <br>
  </div>
  
  <h2>The Book Collection</h2>
  
  <h3 *ngFor="let book of books">
    <b> Title: {{book.title}}</b> <br>
    <b> Description: {{book.description}}</b> <br>
    <b> Price: Php {{book.price}}</b>  <br>
    <button (click)="deleteBook(book.id)">Delete book</button>
  </h3>

